* { 
    display: border-box;
    margin: 0; 
    padding: 0; 
    /* background-color: skyblue; */
} 

.header-container { 
    display: flex; 
    justify-content: center;
    text-decoration: underline;
    font-family: sans-serif;
} 

.add-book-container { 
    display: flex; 
    justify-content: center;
    
} 

.add-book-container > button { 
    background-color: black;
    color: white; 
    height: 3em; 
    width: 8em; 
    font-size: 1em;
} 

.pop-up-field { 
    background: rgba(0, 0, 0, 0.6);
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    display: none; 
    justify-content: center;
    align-items: center;
    text-align: center;
} 

.pop-up-content { 
    height: 290px; 
    width: 500px; 
    background: white; 
    padding: 20px; 
    border-radius: 5px; 
    position: relative; 
} 

.pop-up-content > input { 
    margin: 20px auto; 
    display: block;
    width: 50%; 
    padding: 8px; 
    border: 1px solid gray; 
}

.close-btn { 
    position: absolute; 
    top: -15px; 
    right: -15px; 
    background: white; 
    height: 20px; 
    width: 20px; 
    border-radius: 50%; 
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
} 

.read-it-container { 
    display: flex; 
    justify-content: center; 
    gap: 1em; 
} 

#container-for-books { 
    display: flex;
    flex-direction: row;
    margin-top: 1em; 
    gap: 1em; 
    height: 100em; 
    width: 100em; 
    /* background-color: skyblue; */
} 

.read-book-btn, 
.remove-book-btn { 
    background-color: white;
    width:  5em; 
    height: 2em;  
    /* display: inline;
    justify-content: center; */
    /* align-content: flex-end;    */
      
    /* position: relative;
    top: 10em; 
    left: 1.5em; 
    margin: 1em;  */

}  


.book-style-container { 
    background-color: skyblue; 
    border: 1px solid black; 
    height: 15%; 
    width: 15%; 
    /* display: flex;
    flex-direction: column; */
   
    /* font-size: 1.5rem; */
   
}   

/* .button-container-for-book { 
    display: flex; 
    justify-content: center;
    align-items: center;
    color: pink; 
    background-color: yellow;
} */
 